:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(#404753, #28292F);

  --background-color: #404753;
  --background-color2: #28292F;
  --text-color: #43D7FF;
}
